{% extends 'base.html.twig' %}

{% block title %}Les photos des chatons
	{{ nomDuDossier }}
{% endblock %}

{% block body %}

	<h1>Photos du dossier
		{{ nomDuDossier }}</h1>

	<div style="display:flex; justify-content:space-around; align-items:center; width: 80vw; margin: 1vh auto;">

		{% for fichier in fichiers %}

			<div class="card" style="width: 20rem;">
				<img src="{{ asset(fichier.pathname) }}" style="aspect-ratio:1/1; object-fit: cover;">
				<div class="card-body">
                    <h5 class="card-title">{{ fichier.filename }}</h5>
					<p class="card-text">
						Taille de l'image : {{ fichier.size }} octets <br>
                        Date de création : {{ fichier.ctime|date("d/m/Y") }}
					</p>
				</div>
			</div>

		{% endfor %}

	</div>

{% endblock %}
